@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');

body{
    background-image: url(../img/lllllllllll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 200%;
    background-attachment: scroll;
}

h1{
    color: black;
    font-family: "Bungee Spice", sans-serif;
}

p{
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
}
h2{
    font-family: "Bungee Spice", sans-serif
}