@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&family=Yarndings+12&family=Yarndings+20+Charted&display=swap');

body{
    background-color: rgb(155, 121, 187);
    font-size: 20px;
}

h1{
    background-color: rgb(229, 226, 236);
    font-size: 20px;
}

p{
    color: rgb(2, 235, 27);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: justify;
}
