*{
    padding: 5px;
    margin: 3px;
}


body{ 
    color: white;
}

div{
    background-color: rgb(63, 61, 61);
    border-top: 3px dotted rgb(180, 20, 20) ;
    border-right: 4px solid rgb(184, 31, 31);
    border-bottom: 10px solid rgb(168, 27, 27);
    border-left: 4px solid rgb(170, 27, 27);
}

h2{
    margin-top: 15px;
    margin-bottom: -3px;
    margin-left: 22px;

}

p{
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 23px;
}